<mat-card>

  <mat-card-content>
    <h1>Step 3: Adjust your estimated living expenses</h1>
    <table
      class="mat-body-1 full-width topIncome"
      >

      <tr class="full-width">
        <td>
          <h5>Your Monthly Income</h5>
        </td>             
        <td>
          <input
            (change)="updateSetting($event)"
            matInput            
            type="number"
            class="editable-input"
            [(ngModel)]="status.monthlyIncome">
        </td>
      </tr>  
      <tr class="full-width">
        <td colspan="2">
          <mat-slider thumbLabel 
          (change)="updateSetting($event)"
          [(ngModel)]="status.monthlyIncome" 
          min="10" 
          max="10000" 
          step="10" 
          value="0"></mat-slider>                 
        </td>
      </tr>
      <tr class="full-width">
        <td colspan="2">Average Monthly COL for {{status.currentCounty.viewValue}} County: ${{status.currentCounty.monthlyTotal}}</td>
      </tr>
    </table>

    <table
    class="mat-body-1 full-width"
    >
      <tr>
        <td><h5>Housing + Utilities</h5></td>
        <td>
            <input
              matInput             
              type="number"
              class="editable-input"
              [(ngModel)]="status.currentHousingPlusUtilitiesEstimates">
        </td>
      </tr>
      <tr>
        <td colspan="2">            
        <mat-slider thumbLabel 
        (change)="updateSetting($event)"
        [(ngModel)]="status.currentHousingPlusUtilitiesEstimates" 
        min="0" 
        max="2000" 
        step="10" 
        value="0"></mat-slider>    
        </td></tr>
      <tr >
        <td colspan="2">
           Average {{status.currentCounty.viewValue}} Utilities Cost: ${{status.currentCounty.housingPlusUtilitiesEstimates}}
        </td> 
      </tr>
      <tr><td colspan="2"><hr></td>
      </tr>

      <tr>
        <td><h5>Food</h5></td>
        <td>
            <input
              matInput
              type="number"
              class="editable-input"
              [(ngModel)]="status.currentFoodEstimates">
        </td>
      </tr>
      <tr>
        <td colspan="2">
        <mat-slider thumbLabel 
        (change)="updateSetting($event)"
        [(ngModel)]="status.currentFoodEstimates" 
        min="1" 
        max="400" 
        step="10" 
        value="0"></mat-slider>    
        </td>
      </tr>
      <tr>
        <td colspan="2">
           Average {{status.currentCounty.viewValue}} Utilities Cost: ${{status.currentCounty.foodEstimates}}
        </td>
      </tr>
      <tr><td colspan="2"><hr></td>
      </tr>

      <tr>
        <td><h5>Transportation</h5></td>  
        <td>
            <input
              matInput
              type="number"
              class="editable-input"
              [(ngModel)]="status.currentTransportationEstimates">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-slider thumbLabel 
          [(ngModel)]="status.currentTransportationEstimates" 
          (change)="updateSetting($event)"
  
          min="1" 
          max="1000" 
          step="10" 
          value="1"></mat-slider>
          </td>  
      </tr>
      <tr>
        <td colspan="2">
           Average {{status.currentCounty.viewValue}} Transportation Costs: ${{status.currentCounty.transportationEstimates}}
        </td>
      </tr>
      <tr><td colspan="2"><hr></td>
      </tr>

       <tr>
        <td><h5>Gas</h5></td>    
        <td>
            <input
              matInput
              type="number"
              class="editable-input"
              [(ngModel)]="status.currentHealthEstimates">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-slider thumbLabel 
          [(ngModel)]="status.currentHealthEstimates" 
          (change)="updateSetting($event)"
  
          min="0" 
          max="300" 
          step="10" 
          value="0"></mat-slider>
          </td>
      </tr>
       <tr>
        <td colspan="2">
           Average {{status.currentCounty.viewValue}} Gas Cost: ${{status.currentCounty.healthEstimates}}
        </td>  
      </tr>
      <tr><td colspan="2"><hr></td>
      </tr>

      <tr>
          <td><h5>Medical Insurance</h5></td>   
          <td>
              <input
                matInput
                type="number"
                class="editable-input"
                [(ngModel)]="status.currentHealthEstimates">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-slider thumbLabel 
            [(ngModel)]="status.currentHealthEstimates" 
            (change)="updateSetting($event)"
            min="0" 
            max="1000" 
            step="10" 
            value="0"></mat-slider>
            </td> 
        </tr>
        <tr>
          <td colspan="2">
             Average {{status.currentCounty.viewValue}} HealthCare Cost: ${{status.currentCounty.healthEstimates}}
          </td>

        </tr>
        <tr><td colspan="2"><hr></td>
        </tr>

        <tr>
          <td><h5>Cable & Internet</h5></td>   
          <td>
              <input
                matInput
                type="number"
                class="editable-input"
                [(ngModel)]="status.currentOtherNecessitiesEstimates">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-slider thumbLabel 
            [(ngModel)]="status.currentOtherNecessitiesEstimates" 
            (change)="updateSetting($event)"
  
            min="0" 
            max="300" 
            step="10" 
            value="0"></mat-slider>
            </td> 
        </tr>
        <tr><td colspan="2"><hr></td>
        </tr>

<tr>
          <td><h5>Other Necessities</h5></td>   
          <td>
              <input
                matInput
                type="number"
                class="editable-input"
                [(ngModel)]="status.currentOtherNecessitiesEstimates">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-slider thumbLabel 
            [(ngModel)]="status.currentOtherNecessitiesEstimates" 
            (change)="updateSetting($event)"
  
            min="0" 
            max="500" 
            step="10" 
            value="0"></mat-slider>
            </td> 
        </tr>
        <tr><td colspan="2"><hr></td>
        </tr>


      <tr class="my-centered">
        <td style="border-bottom: 0">That brings your Monthly Total Remaining balance to: </td>
        <td style="border-bottom: 0; padding-right: 12px;">
          <p>{{ status.total  | currency:'USD':true:'1.0-0'  }}</p>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>