

    <mat-card (change)="getTotalMonthlyExpense()">
        <mat-card-header class="mat-title">
        </mat-card-header>
        <mat-card-content>
              <h3 style="margin-bottom: 0; padding-right: 12px;">Monthly Income:
              </h3>
          <table
            class="mat-body-1 full-width"
            >
            <tr>
              <td>Utilities</td>
              <td>
                <mat-slider thumbLabel 
                (change)="updateSetting($event)"
                [(ngModel)]="utilities" 
                min="1" 
                max="1000" 
                step="0.5" 
                value="1.5"></mat-slider>
              </td>
              
              <td>
                  <input
                (change)="updateSetting($event)"
                    matInput                    
                    type="number"
                    class="editable-input"
                    [(ngModel)]="utilities">
              </td>
            </tr>
            <tr>
                <td colspan="3">
                   Average {{currentCounty.viewValue}} Utilities Cost:
                <br/></td>
            </tr>
            <tr></tr>
            <tr>
              <td>Rent/Mortgage</td>
              <td>
                  

              <mat-slider thumbLabel 
                (change)="updateSetting($event)"

              [(ngModel)]="housingCost" 
              min="1" 
              max="3000" 
              step="0.5" 
              value="1.5"></mat-slider>    
              </td>
              <td>
    
                  <input
                    matInput
                    type="number"
                    class="editable-input"
                    [(ngModel)]="housingCost">
              </td>
            </tr>
            <tr>
                <td colspan="3">
                   Average {{currentCounty.viewValue}} Rent/Mortgage:
                </td>
              </tr>
            <tr>
              <td>Phone</td>
              <td>
              <mat-slider thumbLabel 
              (change)="updateSetting($event)"

              [(ngModel)]="phone" 
              min="1" 
              max="1000" 
              step="0.5" 
              value="1.5"></mat-slider>    
              </td>
              <td>
    
                  <input
                    matInput
                    type="number"
                    class="editable-input"
                    [(ngModel)]="phone">
              </td>
            </tr>
            <tr>
                <td colspan="3">
                   Average {{currentCounty.viewValue}} Phone Cost:
                </td>
              </tr>
            <tr>
              <td>Cable</td>
              <td>
              <mat-slider thumbLabel 
              [(ngModel)]="cable" 
              (change)="updateSetting($event)"

              min="1" 
              max="1000" 
              step="0.5" 
              value="1.5"></mat-slider>
              </td>    
              <td>
                  <input
                    matInput
                    type="number"
                    class="editable-input"
                    [(ngModel)]="cable">
              </td>
            </tr>
            <tr>
                <td colspan="3">
                   Average {{currentCounty.viewValue}} Cable Cost:
                </td>
              </tr>
            <tr>
                <td>Car</td>
                <td>
                <mat-slider thumbLabel 
                [(ngModel)]="car" 
                (change)="updateSetting($event)"

                min="1" 
                max="1000" 
                step="0.5" 
                value="1.5"></mat-slider>
                </td>    
                <td>
                    <input
                      matInput
                      type="number"
                      class="editable-input"
                      [(ngModel)]="car">
                </td>
              </tr>
              <tr>
                <td colspan="3">
                   Average {{currentCounty.viewValue}} Car Cost:
                </td>
              </tr>
            <tr>
                <td>Groceries</td>
                <td>
                <mat-slider thumbLabel 
                [(ngModel)]="groceries" 
                (change)="updateSetting($event)"

                min="1" 
                max="1000" 
                step="0.5" 
                value="1.5"></mat-slider>
                </td>    
                <td>
                    <input
                      matInput
                      type="number"
                      class="editable-input"
                      [(ngModel)]="groceries">
                </td>
              </tr>
              <tr>
                <td colspan="3">
                   Average {{currentCounty.viewValue}} groceries Cost:
                </td>
              </tr>
            <tr>
              <td s>Internet</td>
              <td >
                <mat-slider thumbLabel 
                [(ngModel)]="internet" 
                (change)="updateSetting($event)"

                min="1" 
                max="1000" 
                step="0.5" 
                value="1.5"></mat-slider>    
              </td>
              <td >
                  <input
                    matInput
                    type="number"
                    class="editable-input"
                    [(ngModel)]="internet">
              </td>
            </tr>
            <tr style="border-bottom: 0.7pt solid #000">
                <td colspan="3">
                   Average {{currentCounty.viewValue}} Internet Cost:
                </td>
              </tr>
            <tr class="my-centered">
              <td style="border-bottom: 0">Total</td>
              <td style="border-bottom: 0">
              </td>
              <td style="border-bottom: 0; padding-right: 12px;">
                <p>{{ total  }}</p>
              </td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>