@import '~/src/styles.sass'

td:first-child 
    width: 85%
    color: $base-color
  
td:nth-child(2) 
    width: 15%
  
td 
    border-bottom: 0.7pt solid rgba(0, 0, 0, 0.12)
  
  
.full-width 
    width: 100%
  
  
.my-centered 
    font-weight: 700
    font-size: 16pt
  
  
input, p 
    font-size: 13pt
    text-align: right
  
  
.editable-input 
    border: 0.5pt solid #000
    border-radius: 5px
    padding-right: 5px
  
