<!--
<mat-toolbar color="primary">
  <mat-toolbar-row>

    <h1>{{title}}</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button  [routerLink]="'/users'"> Users </a>
      <a mat-button  [routerLink]="'/resumesearch'"> resume </a>
      <a mat-button  [routerLink]="'/tutorials'"> Tutorials </a>
      <a mat-button  [routerLink]="'/calc'"> Calculator </a>



    </div>
  </mat-toolbar-row>


</mat-toolbar>
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">bezKoder</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
      <li class="nav-item">
        <a routerLink="/editors">editors</a>
      </li>
      <li class="nav-item">
         <a routerLink="/heroes">Heroes</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
      <li class="nav-item">
        <a routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a routerLink="/resumesearch">resume</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>-->


<router-outlet></router-outlet>
<!--<app-messages></app-messages>-->