<div class="main-div">
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h4 class="mat-title">Expense Calculator</h4>
            <section class="mat-typography">
                <p>An important aspect of life is understanding how to create a budget based on your salary. Enter a salary below and adjust the sliders as needed to see your budget.</p>
              </section>
        </mat-card-title>
    </mat-card-header>
    <br/>
    <mat-card-content>

                <form [formGroup]="purchaseForm">
                    <mat-form-field>
                        <mat-select (ngModelChange)="calcIncEquivs($event)" formControlName="period"
                            placeholder="Select Period">
                            <mat-option *ngFor="let periodd of payPeriods" [value]="periodd.value">
                                {{ periodd.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                        <mat-form-field>
                          <mat-select formControlName="county" (selectionChange)="onSelectChange($event)" placeholder="Select County">
                              <mat-option *ngFor="let option of options" [value]="option">
                                  {{ option.viewValue }}
                              </mat-option>
                          </mat-select>
                      </mat-form-field>
                
                    <mat-form-field class="example-full-width">
                        <input matInput      
                        (ngModelChange)="calcIncEquivs($event)" type="number" placeholder="Salary"
                            formControlName="income" required>
                    </mat-form-field>
                    
                </form>
                <mat-grid-tile-header>
                    <h3>{{this.purchaseForm.value['income']| currency:'USD':true:'1.0-0'}} per {{incomeEquivalents.inputTypeDisplay}}</h3>
                </mat-grid-tile-header>
              

                <mat-list>
                    <mat-list-item> Hourly: &nbsp;<b>{{incomeEquivalents.hourly | currency:'USD':true:'1.0-0'}}</b>
                    </mat-list-item>
                    <mat-list-item> Monthly Salary: &nbsp;<b>{{incomeEquivalents.salaryMonth | currency:'USD':true:'1.0-0'}}</b></mat-list-item>
                    <mat-list-item> Yearly Salary: &nbsp;<b>{{incomeEquivalents.salaryYear | currency:'USD':true:'1.0-0'}}</b></mat-list-item>
                </mat-list>




    </mat-card-content>


</mat-card>
</div>