/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Open+Sans:wght@300;400;700&display=swap')

$open-sans: 'Open Sans', Arial, Helvetica, sans-serif 
$montserrat: 'Montserrat', Arial, Helvetica, sans-serif 
$aw-red: #de1a21
$aw-black: #1d1d26

body
    font-family: $open-sans
    font-weight: 300

h1 
    text-align: center
    border-bottom: 1px solid black
    border-top: 1px solid black
    margin-bottom: 17px
    line-height: 32px
    font-size: 14px !important

.mat-card
    background-color: white !important
    color: $aw-black

.topIncome 
    background-color: #efefef
    padding: 10px 10px 30px !important
    margin-bottom: 20px

mat-card 
    border-radius: 0px !important
    box-shadow: none !important

.mat-accent .mat-slider-thumb-label
    background-color: $aw-black

hr
    margin: 16px 0px 30px
    background-color: #efefef
    border: 0px solid black
    height: 1px

table h5 
    font-size: 15px
    color: black
    margin: 0px auto

.mat-slider-thumb 
    background-color: $aw-red !important

.mat-slider-horizontal .mat-slider-ticks 
    background-image: none
    background-color: $aw-red
    height: 2px !important
    opacity: inherit


.topIncome td
    border-spacing: 0px !important

table
    border-spacing: 0px !important
    padding: 15px

.editable-input
    border: 0px solid black !important

h1, h2, h3, h4, h5, h6
    font-family: $montserrat
    font-weight: 700

mat-card-title h4
    color: $aw-red

.mat-accent .mat-slider-thumb-label-text
    color: white !important


.mat-form-field
    font-family: $montserrat
    font-size: 16px

.mat-card-header-text 
    margin-left: 0px
    margin-bottom: 15px

.mat-form-field-hide-placeholder .mat-select-placeholder 
    color: $aw-black !important

.mat-select-value, .mat-form-field-appearance-legacy .mat-form-field-label
    color: $aw-black !important

.mat-focused, .mat-form-field-required-marker
    color: $aw-red !important

.mat-select-arrow
    color: $aw-red !important

.mat-form-field-appearance-legacy .mat-form-field-infix 
    padding: 10px 15px !important

.mat-list-base .mat-list-item
    color: $aw-black !important

td 
    border: 0px solid black !important

