<div id="search-component">
    <h4><label for="search-box">Resume Search</label></h4>
   
    <input #searchBox id="search-box" (input)="search(searchBox.value)" />
  <button (click)="getResume(searchBox.value)" >search</button>


  <div class="comeBack_up" *ngIf="(joblogs$.length ==  0)">

    no record found
  </div>
    <div class="search-result">
    <div *ngFor="let currentSubmission of joblogs$; let first=first;" >
      <mat-accordion>
        <mat-expansion-panel *ngIf="first">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Job Log
            </mat-panel-title>
            <mat-panel-description>
              Most Recent 
            </mat-panel-description>
          </mat-expansion-panel-header>
           <button (click)="toggleNewJobs()"> Add new Job</button>
           <div *ngIf="newJobs==true">
            <mat-card >
              <mat-card-header class="card-container">
                <mat-card-title class="card-container-left" >New Job</mat-card-title>
                <mat-card-title class="card-container-right"><button mat-button  (click)="toggleNewJobs()">
                  <mat-icon> remove</mat-icon>
                  
              </button>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
                
                <form [formGroup]="newJobForm" >                
                <mat-form-field>
                  <input matInput  formControlName="jobTitle" placeholder="Job Title" >
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="companyName" placeholder="Company Name" >
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="city" placeholder="City" >
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="state" placeholder="State" >
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="startDate" [matDatepicker]="startdate" placeholder="Start Date">
                  <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #startdate></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="endDate" [matDatepicker]="enddate" placeholder="End Date">
                  <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #enddate></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                  <input matInput formControlName="notes" placeholder="Notes" >
                </mat-form-field>
                <button (click)="onNJFSubmit(currentSubmission._id)" >Add new Job</button>

                 
                 <button (click)="toggleNewJobs()">Cancel</button>   
                </form>

              </mat-card-content>
            </mat-card>
</div>
         <form [formGroup]="allEditForm" >

          <div  *ngFor="let job of currentSubmission.job_log">
            <div *ngIf="editJobs==true">
            <mat-card >
              <mat-card-header class="card-container">
                <mat-card-title class="card-container-left" >Job # {{job.jobnumber}}</mat-card-title>
                <mat-card-title class="card-container-right"><button mat-button (click)="toggleEdit()">
                  <mat-icon (click)="toggleEdit()">remove</mat-icon>
                  
              </button>
                </mat-card-title>
              </mat-card-header>
              <!--<div formArrayName="jobs">-->
                <div formGroupName="{{'joblog-'+currentSubmission._id+'-'+job.jobnumber}}">
              <mat-card-content>
                <div style="display:none">
                <mat-form-field >
                  <input matInput [hidden]="true"  formControlName="jobNumber">
                </mat-form-field>
                </div>
                <mat-form-field>
                  <input matInput     (change)="onChangeEvent($event,'joblog-'+currentSubmission.id+'-'+job.jobnumber)"  placeholder="Job Title" formControlName="jobTitle">
                </mat-form-field>
                <mat-form-field>
                  <input matInput     (change)="onChangeEvent($event,'joblog-'+currentSubmission.id+'-'+job.jobnumber)"  placeholder="Company Name" formControlName="companyName">
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="City" formControlName="city">
                </mat-form-field>
                <mat-form-field>
                  <input matInput  placeholder="State" formControlName="state">
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="startDate" [matDatepicker]="startdate" placeholder="Start Date">
                  <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #startdate></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <input matInput formControlName="endDate" [matDatepicker]="enddate" placeholder="End Date">
                  <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                  <mat-datepicker touchUi="true" #enddate></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                  <input matInput formControlName="notes" placeholder="Notes" value="{{job.notes}}">
                </mat-form-field>
                 <button (click)="onEditSubmit(currentSubmission._id)" > Save New Info</button>   
                 <button (click)="toggleEdit()">Cancel</button>   
              </mat-card-content>
                            </div>

            </mat-card>
            </div>
            <div  *ngIf="editJobs== false">
            <mat-card >
              <mat-card-header class="card-container">
                <mat-card-title class="card-container-left" >Job # {{job.jobnumber}}</mat-card-title>
                <mat-card-title class="card-container-right"><button mat-button (click)="toggleEdit()">
                  <mat-icon  (click)="toggleEdit()"  >edit</mat-icon>
                  
              </button>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content>
               
                  <mat-list>
                    <form>
                    <mat-list-item> Job Title: {{job.jobtitle}}</mat-list-item>
                    <mat-list-item> Company: {{job.companyname}}</mat-list-item>
                    <mat-list-item> City: {{job.city}} </mat-list-item>
                    <mat-list-item> State: {{job.state}} </mat-list-item>
                    <mat-list-item> Start Date: {{job.startdate}} </mat-list-item>
                    <mat-list-item> End Date:  {{job.enddate}} </mat-list-item>
                    <mat-list-item> Notes {{job.notes}}</mat-list-item>
                  </form>
                   </mat-list>             
         
              </mat-card-content>
            </mat-card>
          </div>
             <br/>
  
             <br/>
            
              </div>
            </form>
















          
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="!first" (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Older One
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
           <p>{{currentSubmission.email}}</p>
          <p>Thinking about showing old ones but view only but probably just show one</p>
        </mat-expansion-panel>
      </mat-accordion>
      
      
      
      
      
      
      
      
    </div>
     
     
  
  </div>
